<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            <div class="text-center">
              <img src="assets/images/auth/logo.png" alt="Mash Able">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign up. It is fast and easy.</h3>
                </div>
              </div>
              <hr />
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Choose Username" name="username"
                  [(ngModel)]="username" (change)="onKey($event, 'username')">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Your Email Address" name="email"
                  [(ngModel)]="email" (change)="onKey($event, 'email')">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Choose Password" name="password"
                  [(ngModel)]="password" (change)="onKey($event, 'password')">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword"
                  [(ngModel)]="confirmPassword" (change)="onKey($event, 'confirmPassword')">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">I read and accept <a href="javascript:;">Terms &amp;
                          Conditions.</a></span>
                    </label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Send me the <a href="javascript:;">Newsletter</a> weekly.</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                    (click)="onRegister()">Sign up now.</button>
                </div>
                <div class="col-md-12">
                  <p class="text-inverse m-b-0">Already have an account?
                    <a class="inline-block align-baseline font-bold text-sm text-primary-500 hover:text-primary-800"
                      routerLink="/auth/login">
                      Sign In
                    </a>
                  </p>
                </div>
              </div>
              <!-- <hr/> -->
              <!-- <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div> -->
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of -->
</section>
<ng2-toasty [position]="position"></ng2-toasty>