<div class="row" *ngIf="!isAccountNumber">
  <div class="col-sm-12">
    <!-- <app-card [title]="'Hello card'">
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat
        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </app-card> -->
    <app-card [title]="'Create New Account'">

      <form>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Full Name</label>
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-normal" placeholder="" (keyup)="onKey($event, 'fullName')">
          </div>
          <label class="col-sm-2 col-form-label">ID Proof</label>
          <div class="col-sm-3">
            <select class="form-control form-control-normal" name="idProof" id="idProof" (change)="onKey($event, 'idProof')">
              <option value="">Select ID Proof  </option>
              <option value="aadhar">aadhar  </option>
              <option value="pan">pan  </option>
              <option value="driving-licence">driving licence </option>
              <option value="other">other </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Contact Number</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-normal" placeholder="" (change)="onKey($event, 'contactNumber')">
          </div>
          <label class="col-sm-2 col-form-label">ID Number</label>
          <div class="col-sm-3">
            <input type="text" [disabled]="!isIdProof" [(ngModel)]="idNumber" name="idNumber" class="form-control form-control-normal" placeholder="" (change)="onKey($event, 'idNumber')">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Account Type</label>
          <div class="col-sm-3">
            <select class="form-control form-control-normal" name="accountType" id="accountType" (change)="onKey($event, 'accountType')">
              <option value="">Select Account Type  </option>
              <option value="current">current  </option>
              <option value="saving">saving  </option>
              <option value="other">other </option>
            </select>
            </div>
          <label class="col-sm-2 col-form-label">Deposit Amount</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-normal" placeholder="" (keyup)="onKey($event, 'depositAmount')">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Correspond Address</label>
          <div class="col-sm-3">
            <textarea class="form-control form-control-normal" placeholder="" (keyup)="onKey($event, 'correspondAddress')"></textarea>
          </div>
          <label class="col-sm-2 col-form-label">Permanent Address</label>
          <div class="col-sm-3">
            <textarea  class="form-control form-control-normal" placeholder="" (keyup)="onKey($event, 'permanentAddress')"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2"></label>
          <div class="col-sm-2">
          <button class="btn btn-primary btn-sm" [disabled]="!isFullName || !isContactNumber || !isAccountType || !isCorrespondAddress || !isPermanentAddress || !isIdProof || !isIdNumber || !isDepositAmount" (click)="onCreate()">Create</button>
        </div>
        <div class="col-sm-0">
          <button class="btn btn-warning btn-sm"  (click)="onClear()">Clear</button>
        </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
<div class="col-sm-12 text-center">
  <h3>Account Already Created!</h3>
</div>
<ng2-toasty [position]="position"></ng2-toasty>